body
  div(style='width: 65%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";')
    div(class="jumbotrom")
      h1(style="font-size: 3.5rem;font-weight: 300;line-height: 1.2;margin-bottom: .5rem;margin-top: 0;") Bienvenido, #{username} a Mipres San Luis!
      p(style="font-size: 1.25rem;font-weight: 300;margin-top: 0;margin-bottom: 1rem;") Usted a sido registrado en nuestra plataforma para gestionar todo lo relacionado con las prescripciones generadas en MIPRES por nuestro personal medico
      hr(style="margin-bottom: 1.5rem;margin-top: 1.5rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);box-sizing: content-box;height: 0;overflow: visible;")
      table(style="width: 100%;margin-bottom: 1rem;color: #212529;border-collapse: collapse;")
        tbody(style="box-sizing: border-box;")
          tr(style="box-sizing: border-box;")
            th(style="width: 8rem;padding: .75rem;vertical-align: top;border-top: 1px solid #dee2e6;text-align: inherit;") Usuario
            td(style="padding: .75rem;vertical-align: top;border-top: 1px solid #dee2e6;") #{user}
          tr(style="box-sizing: border-box;")
            th(style="width: 8rem;padding: .75rem;vertical-align: top;border-top: 1px solid #dee2e6;text-align: inherit;") Contraseña
            td(style="padding: .75rem;vertical-align: top;border-top: 1px solid #dee2e6;") #{password}
      a(style="color: #fff;background-color: #007bff;border-color: #007bff;padding: .5rem 1rem;font-size: 1.25rem;line-height: 1.5;border-radius: .3rem;display: inline-block;font-weight: 400;text-align: center;vertical-align: middle;text-decoration: none;" href="http://mipressanluis" target="_blank") Ir al Sitio